body {
  background-color: 
  #00c1b5;
  transition: background-color 0.3s ease-in;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

